:root {
  --primary-color: #b39e68;
  --secondary-color: #dfddcf;
  --background-color: #f1f0e8;
  --text-color: #555;
  --cta-bg-color: #cfc9b6;
  --cta-hover-bg-color: #bdb297;
  --overlay-bg-color: rgba(0, 0, 0, 0.3);
  --white: #ffffff;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playwrite US Modern", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}
