<footer>
	<div class="footer-container">
		<div class="footer-logo">
			<img
				src="../images/logo.png"
				alt="Wellness Center Logo" />
			<p>&copy; 2024 Wellness Center. All rights reserved.</p>
		</div>
		<div class="footer-links">
			<a href="about.html">About</a>
			<a href="facilities.html">Facilities</a>
			<a href="packages.html">Packages</a>
			<a href="contact.html">Contact</a>
		</div>
		<div class="footer-social">
			<p>Follow us:</p>
			<a href="#"
				><img
					src="../images/facebook-icon.png"
					alt="Facebook"
			/></a>
			<a href="#"
				><img
					src="../images/instagram-icon.png"
					alt="Instagram"
			/></a>
			<a href="#"
				><img
					src="../images/twitter-icon.png"
					alt="Twitter"
			/></a>
		</div>
	</div>
</footer>

<style>
	footer {
		/* background-color: #333; */
		color: #000000;
		padding: 20px;
		text-align: center;
	}

	.footer-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}

	.footer-logo img {
		width: 100px;
		margin-bottom: 10px;
	}

	.footer-links {
		margin: 10px;
	}

	.footer-links a {
		color: #000000;
		text-decoration: none;
		margin: 0 10px;
	}

	.footer-links a:hover {
		text-decoration: underline;
	}

	.footer-social img {
		width: 20px;
		margin: 0 5px;
	}
</style>
