<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <a href="#" onclick="loadPage('home')"
        ><img src="../assests/logo.png" alt="Logo"
      /></a>
    </div>
    <div class="footer-links">
      <a href="#Packages" onclick="loadPage('packages')">Packages</a>
      <a href="#Facilities" onclick="loadPage('facilities')">Facilities</a>
      <a href="#About" onclick="loadPage('about')">About</a>
      <a href="#Contact" onclick="loadPage('contact')">Contact</a>
    </div>
    <div class="footer-social">
      <p>🌐 Follow us on:</p>
      <a href="https://www.facebook.com/"
        ><img src="../assests/icons/facebook-svgrepo-com.svg" alt="Facebook"
      /></a>
      <a href="https://www.instagram.com/"
        ><img src="../assests/icons/instagram-svgrepo-com.svg" alt="Instagram"
      /></a>
      <a href="https://www.pinterest.com/"
        ><img
          src="../assests/icons/pinterest-rounded-border-svgrepo-com.svg"
          alt="Pinterest"
      /></a>
    </div>
  </div>
  <div>
    <p>&copy; 2024 WellnessHub. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    color: var(--text-color);
    padding: 20px;
    text-align: center;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10vw;
  }

  .footer-logo img {
    width: 100px;
    margin-bottom: 10px;
  }

  .footer-links {
    margin: 10px;
  }

  .footer-links a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  .footer-social img {
    width: 20px;
    margin: 0 5px;
  }
</style>
