<header>
	<nav>
		<ul>
			<li>
				<a
					href="#"
					onclick="loadPage('home')"
					>Home</a
				>
			</li>
			<li>
				<a
					href="#"
					onclick="loadPage('about')"
					>About</a
				>
			</li>
			<li>
				<a
					href="#"
					onclick="loadPage('facilities')"
					>Facilities</a
				>
			</li>
			<li>
				<a
					href="#"
					onclick="loadPage('packages')"
					>Packages</a
				>
			</li>
			<li>
				<a
					href="#"
					onclick="loadPage('contact')"
					>Contact</a
				>
			</li>
		</ul>
	</nav>
</header>

<style>
	header {
		/* background-color: #f5f5f5; */
		padding: 10px 20px;
	}
	header nav ul {
		display: flex;
		list-style-type: none;
		justify-content: space-around;
	}
	header nav ul li a {
		text-decoration: none;
		color: #333;
		font-weight: bold;
	}
</style>
