<header>
	<nav>
		<ul>
			<li>
				<a
					href="#"
					onclick="loadPage('home')"
					>Home</a
				>
			</li>
			<li>
				<a
					href="#"
					onclick="loadPage('packages')"
					>Packages</a
				>
			</li>
			<li>
				<a
					href="#"
					onclick="loadPage('facilities')"
					>Facilities</a
				>
			</li>
			<li>
				<a
					href="#"
					onclick="loadPage('about')"
					>About</a
				>
			</li>
			<li>
				<a
					href="#"
					onclick="loadPage('contact')"
					>Contact</a
				>
			</li>
		</ul>
	</nav>
</header>

<style>
	header {
		padding: 10px 20px;
		
	}
	header nav ul {
		display: flex;
		list-style-type: none;
		justify-content: space-around;
	}
	header nav ul li a {
		text-decoration: none;
		color: var(--text-color) ;
	}
	nav ul li a:hover {
		color: var(--primary-color) ;
}
</style>
